<div class="threadsTop">
<h1>It's Lit, Fam</h1>
</div>



<div class="box">
<div class="threadsInput">
<input class= "threadsInput" type="text" ng-model="newThread.title" placeholder="Thread Title:">
<input class= "threadsInput" type="text" ng-model="newThread.user" placeholder="Username:">
<br/><br/>
<button class="threadsButton" ng-click="createNewThread(newThread)">submit</button>
</div>
</div>

<div class ="box">
  Existing Threads
  <br/>
  <br/>
  <div class="newThread" ng-repeat="thread in threads" ui-sref="thread({threadId: threads.$id})">
    <strong>{{thread.title}}</strong> (created by {{thread.user}})

    <!-- <a ui-sref="thread({threadId: threads.$id})">view thread</a> -->
    <br/>

  </div>
</div>

<br/>
<br/>
<br/>
<!-- <div class="box">
<div class="threadsInput">
<input class= "threadsInput" type="text" ng-model="newThread.title" placeholder="Thread Title:">
<input class= "threadsInput" type="text" ng-model="newThread.user" placeholder="Username:">
<br/><br/>
<button class="threadsButton" ng-click="createNewThread(newThread)">submit</button>
</div>
</div> -->
